* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.main_wrapper {
  overflow: hidden;
}

.background_img {
  width: 100%;
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: -1;
}

.background_img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  position: absolute;
}

.background_img img {
  object-fit: cover;
}

.header {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background: #000000;
}

.header_logo {
  width: 10rem;
  height: 3rem;
}

.header_logo img {
  object-fit: contain;
}

.main_title_cont {
  color: #fff;
}

.main_title_cont h1 {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.main_title_cont p {
  display: none;
}

.main_title_cont--statistics {
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

/* section */

.section {
  padding-top: 2rem;
}

.casino_list_nav {
  display: none;
}

.casino_list--item {
  min-height: 7rem;
  padding: 0.5rem;
  background: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-label {
  padding: 0.2rem 0.5rem;
  background: #00db00;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0.6rem;
  border-top-right-radius: 0.5rem;
}

.text-label span {
  text-transform: uppercase;
  font-size: 0.5rem;
  text-align: center;
}

.casino_label {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.6);
  background: #a000c9;
}

.casino_label img {
  object-fit: contain;
}

.casino_desc {
  max-width: 8rem;
}

.casino_desc p {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
}

.casino_rating {
  position: absolute;
  right: 5%;
  top: 15%;
}

:root {
  --star-size: 1rem;
  --star-color: rgb(238, 238, 238);
  --star-background: #fc0;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
}

.stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.casino_rating_number {
  display: none;
}

.play_btn {
  display: block;
  padding: 0.3rem;
  width: 6rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background: #00db00;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.play_btn:hover {
  background: #039403;
  transform: scale(1.1);
}

/* media */

@media screen and (max-width: 768px) {
  br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 5rem;
  }

  .main_wrapper {
    min-height: 100vh;
  }

  .background_img {
    height: 100%;
    top: 0;
  }

  .header {
    justify-content: center;
    background: none;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 4rem;
  }

  .main_title_cont {
    padding: 0 5rem;
    max-width: 55rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: center;
  }

  .main_title_cont--statistics {
    background: none;
  }

  .main_title_cont p {
    display: block;
  }

  .casino_list_nav {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: #fff;
    background: #1d1d1d;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .casino_list--item {
    padding: 0;
  }

  .casino_list_cont-item span {
    text-transform: uppercase;
  }

  .casino_rating {
    position: relative;
    top: 0;
    right: 0;
  }

  .casino_rating_number {
    display: block;
  }

  .text-label {
    height: 20px;
    left: -1%;
    top: -7%;
    z-index: 1;
    right: unset;
    padding: 0.2rem 1rem;
  }

  .text-label::after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    left: unset;
    right: -17%;
    transform: rotate(-180deg);
    border-top: 10px solid #00db00;
    border-bottom: 10px solid#00db00;
    border-right: 13px solid #00db00;
    border-left: 13px solid transparent;
  }

  .casino_label {
    width: 10rem;
    height: 7rem;
    border-radius: 0;
    border: none;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }

  .casino_label::after {
    content: "";
    display: block;
    background: #fff;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 68% 100%, 94% 50%, 70% 0);
    position: absolute;
    height: 7rem;
    width: 9rem;
    top: 0;
  }

  .casino_label img {
    width: 80%;
  }

  .casino_desc h3 {
    display: none;
  }

  .casino_desc span {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .casino_rating::after,
  .casino_rating_number::after,
  .casino_desc::after {
    display: block;
    content: "";
    width: 1px;
    height: 5rem;
    position: absolute;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    right: -4%;
    top: 10%;
  }

  .casino_rating::after {
    top: -110%;
  }

  .casino_rating_number::after {
    top: -140%;
    right: -52%;
  }

  .play_btn {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1240px) {
  .casino_list_nav {
    padding: 0 3rem;
  }

  .casino_rating {
    width: 7rem;
  }

  .casino_rating_number {
    width: 5rem;
  }

  .casino_rating_number span {
    font-size: 2.4rem;
  }

  .casino_desc::after {
    right: -25%;
  }

  .casino_rating_number::after {
    top: -34%;
    right: -15%;
  }
}
